body > p{
    color: rgb(226, 224, 100);
    background-color: rgb(73, 31, 45);
    font-size: 1.7em;
    text-align: center;
}
section > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

button{    
    background-color: black;
    color: cyan;
}

.first {
    position: absolute;
    top: 5%;
    left: 42%;
    color: rgb(255, 0, 149);
    text-align: justify;
    width: 45%;
}

.second {
    position: absolute;
    top: 30%;
    left: 42%;
    color: rgb(255, 0, 149);
    text-align: justify;
    width: 45%;
}

.Third {
    position: absolute;
    top: 45%;
    left: 42%;
    color: rgb(255, 0, 149);
    text-align: justify;
    width: 45%;
}

.Forth {
    position: absolute;
    top: 65%;
    left: 42%;
    color: rgb(255, 0, 149);
    text-align: justify;
    width: 45%;
}

.Fifth {
    position: absolute;
    top: 75%;
    left: 42%;
    color: rgb(255, 0, 149);
    text-align: justify;
    width: 45%;
}

footer{
    background-color: rgb(248, 146, 168);
  }